* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

main {
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-flow: column;
}

form {
    width: 100%;
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: .25rem;
}

input {
    flex-grow: 1;
    max-width: calc(80% - .25rem);
    border: none;
    border-radius: 10px;
    padding: .7rem;
    font-size: 1rem;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    background-color: #ecf0f1;
    color: #333;
}

input:focus {
    background-color: #d1d8e0;
    color: #2c3e50;
}

button {
    width: 20%;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    padding: .7rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

.chat-display {
    background-color: #df6d6d;
    list-style-type: none;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin: 1rem auto;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: left;
    overflow: auto;
    flex-grow: 1;
}

.post {
    background-color: #eee;
    border-radius: 10px;
    padding: 1rem;
    margin: .5rem;
    overflow: hidden;
    flex-shrink: 0;
}

.post--left {
    width: 60%;
    align-self: flex-start;
}

.post--right {
    width: 60%;
    align-self: flex-end;
}

.post__header {
    color: #d65676;
    padding-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__header--user {
    font-weight: bold;
}

.post__header--reply {
    color: #06323d;
}

.post__header--name {
    font-weight: bold;
    margin-right: .5rem;
}

.post__header--time {
    font-size: .8rem;
}

.post__text {
    margin-top: 10px;
    color: #505050;
}

.user-list,
.room-list,
.activity {
    width: 100%;
    min-height: 2.65rem;
    margin: 0 auto;
    max-width: 600px;
    padding: .75rem .25rem;
}

.activity {
    font-style: italic;
}
